Repository sofastack/sofastack.tech, pull requests merged in 2019-07, with the labels that each got.

#17 Modified the image address in the text
  content/zh/blog/sofa-tracer-unvarnished-transmission-slf4j-mdc/index.md
Labels: area/blog, kind/docs

#16 modify the link address in the text
  content/zh/blog/sofa-tracer-response-mechanism/index.md
Labels: area/blog, kind/docs

#19 Add a new blog of SOFAJRaft
  content/zh/blog/sofa-jraft-algorithm-storage-module-deep-dive/index.md
Labels: area/blog, cla:yes, kind/docs

#20 Add new activity:SOFAChannel 7
  content/zh/activities/sofa-channel-7/index.md
Labels: area/activities, cla:yes, kind/docs, size/M

#22 Update index.md
  content/zh/activities/sofa-channel-7/index.md
Labels: cla:yes, size/XS

#23 Update an activity banner
  content/zh/activities/sofa-channel-7/index.md
Labels: area/activities, cla:yes, kind/docs, size/XS

#25 Fix typos
  content/en/blog/hello-sofastack/index.md
  content/en/projects/sofa-mesh/sofa-mosn-readme/index.md
  content/en/projects/sofa-mosn/overview/index.md
  content/en/projects/sofa-mosn/quick-start-setup/index.md
  content/zh/activities/sofastack-cloud-native-workshop/index.md
  content/zh/projects/sofa-mesh/sofa-mosn-readme/index.md
  content/zh/projects/sofa-mosn/_index.md
  content/zh/projects/sofa-mosn/overview/index.md
  content/zh/projects/sofa-mosn/quick-start-setup/index.md
  data/zh/home.toml
Labels: bug, cla:yes, size/M

#28 Insert notice at the beginning of guides
  content/zh/guides/sofastack-quick-start/index.md
Labels: cla:yes, size/XS

#29 Modify the beginning of attention
  content/zh/guides/kc-sofastack-dynamic-demo/index.md
Labels: area/guides, cla:yes, kind/docs, size/XS

#30 modify the beginning of the attention
  content/zh/guides/kc-seata-demo/index.md
Labels: area/guides, cla:yes, kind/docs, size/XS

#33 Add mergify and auto assign GitHub apps
  .github/auto_assign.yml
  .mergify.yml
Labels: cla:yes, kind/site, size/M

#31 modify the beginning attention
  content/zh/guides/kc-cloud-mesh-demo/index.md
Labels: area/guides, cla:yes, kind/docs, size/XS

#32 modify the beginning attention
  content/zh/guides/kc-serverless-demo/index.md
Labels: cla:yes, size/XS

#35 Add a new blog
  content/zh/activities/sofa-channel-7/index.md
  content/zh/blog/sofastack-cloud-native-workshop-show/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#34 fix: use relURL replace absURL
  layouts/_default/list.html
  layouts/guides/list.html
  layouts/index.html
  layouts/partials/aside/categories.html
  layouts/partials/aside/tags.html
  layouts/partials/card/guide_card.html
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/partials/pagination/pagination_next.html
  layouts/partials/post/summary.html
  layouts/projects/list.html
Labels: bug, cla:no, kind/site, size/M

#36 Add a new blog: SOFAStack 3 projects into CNCF cloud native panorama | Open source
  content/zh/blog/sofastack-projects-joined-cncf-landscape/index.md
Labels: area/blog, cla:yes, kind/docs

#38 docs(footer): fix wiki link
  data/en/footer.toml
  data/zh/footer.toml
Labels: bug, cla:yes, kind/site, size/XS

#40 Add new activity
  content/zh/activities/sofa-channel-7/index.md
Labels: area/activities, cla:yes, kind/docs, size/M

#45 Add a new blog
  content/zh/blog/sofa-jraft-rheakv/index.md
Labels: cla:yes, size/L

#48 Add a new blog
  content/zh/blog/sofastack-oschina-2018/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#51 fix: legacywebsite button
  layouts/partials/back_legacy.html
Labels: bug, cla:yes, kind/site, size/XS

#52 Add a new blog
  content/zh/blog/serverless-knative-giac/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#55 feat: add docker building method #54
  Makefile
  README.md
  scripts/Dockerfile
  scripts/install-dependency.sh
Labels: kind/feature, kind/site

#58 Add a new blog
  content/zh/blog/sofa-rpc-connection-management-heartbeat-analysis/index.md
Labels: area/blog, kind/docs

#61 Fix the tags
  content/zh/blog/sofa-rpc-framework-overall-extension/index.md
Labels: area/blog, kind/docs

#60 Fix the tags
  content/zh/blog/sofa-rpc-connection-management-heartbeat-analysis/index.md
Labels: area/blog, kind/docs

#59 Fix the tags
  content/zh/blog/sofa-rpc-link tracking/index.md
Labels: area/blog, kind/docs

#62 Fix the title
  content/zh/blog/sofa-rpc-link tracking/index.md
Labels: area/blog, kind/docs

#63 Add a new blog
  content/zh/blog/sofa-rpc-synchronous-asynchronous-implementation/index.md
Labels: area/blog, kind/docs

#64 Add a new blog
  content/zh/blog/sofa-rpc-threading-model/index.md
Labels: area/blog, kind/docs

#66 Fix the categories
  content/zh/blog/sofastack-oschina-2018/index.md
Labels: area/blog, kind/docs

#67 Add a new blog
  content/zh/blog/sofa-rpc-single-machine-fault-culling/index.md
Labels: area/blog, kind/docs

#69 Add a new blog
  content/zh/blog/sofa-rpc-data-transmission/index.md
Labels: area/blog, kind/docs

#70 Add Awesome SOFA page
  assets/sass/partials/post/markdown.scss
  config.toml
  content/zh/awesome/_index.md
  content/zh/faq/_index.md
  layouts/_default/singlepage.html
Labels: kind/docs, kind/feature, kind/site

#72 Add a new blog
  content/zh/blog/sofa-rpc-routing-implementation/index.md
Labels: area/blog, kind/docs

#74 Add a new blog
  content/zh/blog/sofa-rpc-cross-language-support/index.md
Labels: area/blog, kind/docs

#75 Add a new blog：【剖析 | SOFARPC 框架】之 SOFARPC 序列化比较
  content/zh/blog/sofa-rpc-serialization-comparison/index.md
Labels: area/blog, kind/docs

#76 feat: add CircleCi support
  .circleci/config.yml
  scripts/mdl-check.sh
  scripts/mdspell-check.sh
Labels: kind/feature, kind/site

#78 doc: add new end user and new contributors
  content/zh/awesome/_index.md
Labels: kind/docs

#77 doc: add circleci status badge
  .circleci/config.yml
  .editorconfig
  .spelling
  Makefile
  README.md
  content/en/guides/kc-cloud-mesh-demo/index.md
  mdl_style.rb
  scripts/Dockerfile
  scripts/lint-site.sh
Labels: kind/feature, kind/site

#79 doc: add sofa-bolt project
  content/zh/projects/sofa-bolt/_index.md
  content/zh/projects/sofa-bolt/overview/index.md
  content/zh/projects/sofa-bolt/related-links/index.md
  content/zh/projects/sofa-bolt/sofa-bolt-contribution/AlipayFormatter.xml
  content/zh/projects/sofa-bolt/sofa-bolt-contribution/index.md
  content/zh/projects/sofa-bolt/sofa-bolt-functions/index.md
  content/zh/projects/sofa-bolt/sofa-bolt-functions/intro.png
  content/zh/projects/sofa-bolt/sofa-bolt-functions/invoke_types.png
  content/zh/projects/sofa-bolt/sofa-bolt-functions/msg_protocol.png
  content/zh/projects/sofa-bolt/sofa-bolt-handbook/index.md
  content/zh/projects/sofa-bolt/sofa-bolt-roadmap/index.md
Labels: area/projects, kind/docs

#82 [docs] fix broken links in sofa-bolt
  content/zh/projects/sofa-bolt/sofa-bolt-handbook/index.md
Labels: area/projects, kind/docs

#84 fix: disable taxonomyTerm page
  config.toml
Labels: kind/site

#88 chore: expose docker port
  Makefile
Labels: kind/site

#86 Remove content of guides.
  content/zh/guides/kc-cloud-mesh-demo/index.md
  content/zh/guides/kc-seata-demo/index.md
  content/zh/guides/kc-serverless-demo/index.md
  content/zh/guides/kc-serverless-demo/kc-sas.jpg
  content/zh/guides/kc-serverless-demo/preview-sas.png
  content/zh/guides/kc-sofastack-dynamic-demo/index.md
  content/zh/guides/sofastack-quick-start/index.md
Labels: area/guides, kind/docs, kind/site

#89 Add a new blog
  content/zh/blog/sofa-channel-1-retrospect/index.md
Labels: area/blog, kind/docs

#90 Add a new blog
  content/zh/blog/sofa-channel-2-retrospect/index.md
Labels: area/blog, kind/docs

#91 Add a new blog
  content/zh/blog/sofa-channel-7-retrospect/index.md
Labels: area/blog, kind/docs

#92 chore: add all reviewers
  .github/auto_assign.yml
Labels: kind/site

#94 Add a new blog
  content/zh/blog/sofa-channel-3-retrospect/index.md
Labels: area/blog, kind/docs

#95 Add a new blog
  content/zh/blog/sofa-channel-4-retrospect/index.md
Labels: area/blog, kind/docs

#96 插件地址变更
  content/zh/projects/sofa-acts/getting-started/index.md
Labels: area/projects, kind/docs

#97 Add a new blog
  content/zh/blog/sofa-financial-cloud-native-exploration/index.md
Labels: area/blog, kind/docs

#98 Add a new blog
  content/zh/blog/sofa-channel-6-retrospect/index.md
Labels: area/blog, kind/docs

#101 Add a new blog
  content/zh/blog/sofa-registry-service-discovery-optimization/index.md
Labels: area/blog, kind/docs

#103 Add a new blog
  content/zh/blog/sofa-registry-introduction/index.md
Labels: area/blog, kind/docs

#102 fix: redirect project list page
  layouts/projects/section.html
Labels: bug, kind/site

#106 Add a new blog
  content/zh/blog/sofa-weekly-20190719/index.md
Labels: area/blog, kind/docs

#108 Fix the blog
  content/zh/blog/sofa-weekly-20190719/index.md
Labels: area/blog, kind/docs

#107 doc: fix broken links and markdown style error in zh docs
  Makefile
  content/en/projects/sofa-boot/modular-development/index.md
  content/en/projects/sofa-boot/modular-development/modulardevelopment.png
  content/zh/projects/sofa-acts/getting-started/index.md
  content/zh/projects/sofa-acts/overview/index.md
  content/zh/projects/sofa-acts/usage-api/index.md
  content/zh/projects/sofa-acts/usage-ide/index.md
  content/zh/projects/sofa-acts/usage-model/index.md
  content/zh/projects/sofa-bolt/_index.md
  content/zh/projects/sofa-bolt/sofa-bolt-functions/index.md
  content/zh/projects/sofa-bolt/sofa-bolt-handbook/index.md
  content/zh/projects/sofa-boot/faq/index.md
  content/zh/projects/sofa-lookout/client-ext-metrics/index.md
  content/zh/projects/sofa-lookout/quick-start-client-boot/index.md
  content/zh/projects/sofa-lookout/quick-start-metrics-server/index.md
  content/zh/projects/sofa-lookout/sofarpc-metrics/index.md
  content/zh/projects/sofa-mesh/_index.md
  content/zh/projects/sofa-mesh/pilot-readme/index.md
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/bookinfo.png
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/index.md
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/login.png
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/mosn-Introduction.png
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/v1.png
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/v2.png
  content/zh/projects/sofa-mesh/sofa-mosn-docs-quick-start-run-with-sofamesh/v3.png
  content/zh/projects/sofa-mesh/sofa-mosn-readme/index.md
  content/zh/projects/sofa-mosn/overview/index.md
  content/zh/projects/sofa-mosn/quick-start-run-with-sofamesh/index.md
  content/zh/projects/sofa-rpc/_index.md
  content/zh/projects/sofa-rpc/bolt/index.md
  content/zh/projects/sofa-rpc/configuration-common/index.md
  content/zh/projects/sofa-rpc/configuration/index.md
  content/zh/projects/sofa-rpc/developer-guide/index.md
  content/zh/projects/sofa-rpc/dubbo/index.md
  content/zh/projects/sofa-rpc/features/index.md
  content/zh/projects/sofa-rpc/getting-started/index.md
  content/zh/projects/sofa-rpc/h2c/index.md
  content/zh/projects/sofa-rpc/programming/index.md
  content/zh/projects/sofa-rpc/protocol/index.md
  content/zh/projects/sofa-rpc/restful/index.md
  content/zh/projects/sofa-tracer/_index.md
  content/zh/projects/sofa-tracer/component-access/index.md
  content/zh/projects/sofa-tracer/overview/index.md
  content/zh/projects/sofa-tracer/roadmap/index.md
  content/zh/projects/sofa-tracer/traceid-generated-rule/index.md
  content/zh/projects/sofa-tracer/usage-of-mvc/index.md
Labels: area/projects, kind/docs, size/L

#111 chore: update a blog
  content/zh/blog/sofa-weekly-20190719/index.md
Labels: area/blog, kind/docs

#112 Add a new blog
  content/zh/blog/sofa-meetup-2-1-retrospect/index.md
Labels: area/blog, cla:yes, kind/docs

#113 Add a new blog
  content/zh/blog/sofastack-2019-oscar/index.md
Labels: area/blog, cla:yes, kind/docs

#114 Add a new blog
  content/zh/blog/sofastack-cncf-cloud-native-landscape/index.md
Labels: area/blog, cla:yes, kind/docs

#115 Add a new blog
  content/zh/blog/sofastack-independent-droup/index.md
Labels: area/blog, cla:yes, kind/docs

#116 Add a new blog
  content/zh/blog/technical-financial-distributed-trading/index.md
Labels: area/blog, cla:yes, kind/docs

#105 doc: migrating SOFAJraft docs from wiki
  content/zh/projects/sofa-jraft/_index.md
  content/zh/projects/sofa-jraft/benchmark-performance/index.md
  content/zh/projects/sofa-jraft/consistency-raft-jraft/index.md
  content/zh/projects/sofa-jraft/counter-example/index.md
  content/zh/projects/sofa-jraft/engine-architecture/engine.png
  content/zh/projects/sofa-jraft/engine-architecture/index.md
  content/zh/projects/sofa-jraft/how-to-contribute-code-to-sofajraft/index.md
  content/zh/projects/sofa-jraft/jepson-test/index.md
  content/zh/projects/sofa-jraft/jraft-rheakv-user-guide/index.md
  content/zh/projects/sofa-jraft/jraft-user-guide/index.md
  content/zh/projects/sofa-jraft/maven-dependency/index.md
  content/zh/projects/sofa-jraft/overview/index.md
  content/zh/projects/sofa-jraft/overview/multi_raft.png
  content/zh/projects/sofa-jraft/overview/raft.png
  content/zh/projects/sofa-jraft/raft-introduction/index.md
  content/zh/projects/sofa-jraft/release-log/index.md
  content/zh/projects/sofa-jraft/road-map/index.md
  content/zh/projects/sofa-jraft/user-stories/index.md
Labels: area/projects, kind/docs, proj/sofa-jraft, size/L

#118 Fix the tags
  content/zh/blog/sofastack-independent-droup/index.md
Labels: area/blog, cla:yes, kind/docs

#117 Add a new blog
  content/zh/blog/sofa-mesh-cnutcon-2018/index.md
Labels: area/blog, cla:yes, kind/docs

#119 Add a new blog
  content/zh/blog/service-mesh-meetup-5-retrospect/index.md
Labels: area/blog, cla:yes, kind/docs

#121 Add a new blog
  content/zh/blog/service-mesh-giac-2018/index.md
Labels: area/blog, cla:yes, kind/docs

#122 Add a new blog
  content/zh/blog/sofastack-anniversary-1/index.md
Labels: area/blog, cla:yes, kind/docs

#123 Add a new blog
  content/zh/blog/k8s-1.14-release-note/index.md
Labels: area/blog, cla:yes, kind/docs

#124 Add a new blog
  content/zh/blog/kubernetes-the-next-gen-os/index.md
Labels: area/blog, cla:yes, kind/docs

#125 doc: fix broken links in zh docs
  content/zh/awesome/_index.md
  content/zh/blog/service-mesh-giac-2019/index.md
  content/zh/blog/sofa-bolt-framework-deep-dive/index.md
  content/zh/blog/sofa-boot-class-isolation-deep-dive/index.md
  content/zh/blog/sofa-channel-2-retrospect/index.md
  content/zh/blog/sofa-channel-3-retrospect/index.md
  content/zh/blog/sofa-registry-introduction/index.md
  content/zh/blog/sofa-rpc-cross-language-support/index.md
  content/zh/blog/sofa-tracer-overview/index.md
  content/zh/blog/sofa-tracer-response-mechanism/index.md
  content/zh/blog/sofa-tracer-unvarnished-transmission-slf4j-mdc/index.md
  content/zh/blog/sofa-weekly-20190719/index.md
  content/zh/guides/sofastack-quick-start/index.md
  content/zh/projects/sofa-acts/faq/index.md
  content/zh/projects/sofa-acts/getting-started/index.md
  content/zh/projects/sofa-acts/usage-ide/index.md
  content/zh/projects/sofa-acts/usage-model/index.md
  content/zh/projects/sofa-boot/faq/index.md
  content/zh/projects/sofa-boot/quick-start/index.md
  content/zh/projects/sofa-jraft/jraft-rheakv-user-guide/index.md
  content/zh/projects/sofa-lookout/client-ext-metrics/index.md
  content/zh/projects/sofa-lookout/use-guide-registry/index.md
  content/zh/projects/sofa-mesh/pilot-readme/index.md
  content/zh/projects/sofa-mesh/sofa-mosn-readme/index.md
  content/zh/projects/sofa-mosn/quick-start-run-with-sofamesh/index.md
  content/zh/projects/sofa-rpc/bolt/index.md
  content/zh/projects/sofa-rpc/configuration/index.md
  content/zh/projects/sofa-rpc/developer-guide/index.md
  content/zh/projects/sofa-rpc/dubbo/index.md
  content/zh/projects/sofa-rpc/getting-started-with-rpc/index.md
  content/zh/projects/sofa-rpc/getting-started/index.md
  content/zh/projects/sofa-rpc/h2c/index.md
  content/zh/projects/sofa-rpc/programming/index.md
  content/zh/projects/sofa-rpc/protocol/index.md
  content/zh/projects/sofa-rpc/registry-sofa/index.md
  content/zh/projects/sofa-rpc/restful/index.md
  content/zh/projects/sofa-rpc/user-guide/index.md
  content/zh/projects/sofa-tracer/component-access/index.md
  content/zh/projects/sofa-tracer/overview/index.md
  content/zh/projects/sofa-tracer/roadmap/index.md
  scripts/lint-site.sh
Labels: area/blog, area/projects, cla:yes, kind/docs, size/L

#126 Add a new blog
  content/zh/blog/service-mesh-development-trend-1/index.md
Labels: area/blog, cla:yes, kind/docs

#127 Add a new blog
  content/zh/blog/sofa-boot-extension-practice/index.md
Labels: area/blog, cla:yes, kind/docs

#128 Add a new blog
  content/zh/blog/sofa-dashboard-open-source/index.md
Labels: area/blog, cla:yes, kind/docs

#129 Add a new blog
  content/zh/blog/sofa-jraft-linear-consistent-read-implementation/index.md
Labels: area/blog, cla:yes, kind/docs

#130 Add a new blog
  content/zh/blog/sofa-jraft-election-mechanism/index.md
Labels: area/blog, cla:yes, kind/docs

#131 Add a new blog
  content/zh/blog/sofa-meetup-2-2-retrospect/index.md
Labels: area/blog, cla:yes, kind/docs

#133 Add a new blog
  content/zh/blog/sofa-meetup-1-seata/index.md
Labels: area/blog, cla:yes, kind/docs

#132 Add a new blog
  content/zh/blog/sofa-ark-0.6.0/index.md
Labels: area/blog, cla:yes, kind/docs

#134 chore: fix markdown style errors
  content/zh/projects/sofa-bolt/sofa-bolt-handbook/index.md
Labels: area/projects, kind/docs, proj/sofa-bolt, size/XS

#135 Add a new blog
  content/zh/blog/sofa-meetup-1-registry/index.md
Labels: area/blog, cla:yes, kind/docs

#136 doc: update SOFAMosn doc
  content/zh/projects/sofa-mosn/quick-start-run-with-sofamesh/index.md
Labels: area/projects, cla:yes, kind/docs, proj/sofa-mosn

#137 Add a new blog
  content/zh/blog/sofa-jraft-rheaKV-multi-raft-group/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#138 Fix the blog
  content/zh/blog/sofa-jraft-rheaKV-multi-raft-group/index.md
Labels: area/blog, bug, cla:yes, kind/docs, size/S

#139 Fix the blog
  content/zh/blog/sofa-jraft-rheaKV-multi-raft-group/index.md
Labels: area/blog, bug, cla:yes, kind/docs, size/S

#140 sofa-mesh-setup-quick-in-Kubernetes
  content/zh/projects/sofa-mesh/pilot-setup-zookeeper-quick-start-docker/index.md
Labels: First-time contributor, cla:yes, size/M

#141 Add a new activity
  content/zh/activities/sofa-meetup-3/index.md
Labels: area/activities, cla:yes, kind/docs, size/M

#144 doc: fix a broken link
  content/en/projects/sofa-boot/sofa-ark-ark-demo/index.md
Labels: area/projects, kind/docs

#142 doc: SOFAMesh setup quick start in Kubernetes
  content/zh/projects/sofa-mesh/_index.md
  content/zh/projects/sofa-mesh/sofa-mesh-setup/index.md
Labels: area/projects, cla:yes, proj/sofa-mesh, size/M

#145 Add a new blog
  content/zh/blog/sofastack-linux-china/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#146 chore: fix linting errors
  content/en/blog/hello-sofastack/index.md
  content/en/projects/sofa-lookout/quick-start-client-boot/index.md
  content/en/projects/sofa-mosn/quick-start-run-with-sofamesh/index.md
  content/en/projects/sofa-rpc/configuration-common/index.md
  content/en/projects/sofa-tracer/overview/index.md
  content/zh/activities/sofa-channel-1/index.md
  content/zh/blog/service-mesh-meetup-5-retrospect/index.md
  content/zh/blog/sofa-channel-7-retrospect/index.md
  content/zh/blog/sofa-jraft-rheakv/index.md
  content/zh/blog/sofa-rpc-data-transmission/index.md
  content/zh/blog/sofa-tracer-overview/index.md
  content/zh/blog/sofa-weekly-20190719/index.md
  content/zh/projects/sofa-acts/usage-ide/index.md
  content/zh/projects/sofa-jraft/jraft-rheakv-user-guide/index.md
  content/zh/projects/sofa-lookout/client-ext-metrics/index.md
  content/zh/projects/sofa-lookout/sofarpc-metrics/index.md
  content/zh/projects/sofa-rpc/configuration-common/index.md
  scripts/lint-site.sh
Labels: area/activities, area/blog, area/projects, cla:yes, kind/docs, size/L

#147 Add a new blog
  content/zh/blog/antfin-middleware-open-source-key-figure-luzhi/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#148 chore: add two sites into html proofer whitelist
  scripts/lint-site.sh
Labels: kind/site

#149 Add a new blog
  content/zh/blog/sofa-weekly-20190726/index.md
Labels: area/blog, cla:yes, kind/docs, size/M

#151 Add a new blog
  content/zh/blog/sofa-jraft-production-level-algorithm-library/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#152 Add a new blog
  content/zh/blog/sofa-acts-automated-testing-framework/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#153 Add a new blog
  content/zh/blog/sofa-meetup-1-jraft/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#154 Add a new blog
  content/zh/blog/sofa-lookout-server-open-source/index.md
Labels: area/blog, cla:yes, kind/docs, size/M

#155 Add a new blog
  content/zh/blog/financial-technology-meet-open-source/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#156 Add a new blog
  content/zh/blog/sofastack-user-yimi/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#158 chore: fix email address
  content/zh/blog/sofa-jraft-production-level-algorithm-library/index.md
Labels: area/blog, kind/docs

#159 Add a new blog
  content/zh/blog/distributed-arch-in-the-enterprise/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#160 Add a new blog
  content/zh/blog/service-mesh-meetup-5-istio-retrospect/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#161 Add a new blog
  content/zh/blog/seata-server-deep-analysis/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#162 Add a new blog
  content/zh/blog/sqlflow-open-source/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#164 Add a new blog
  content/zh/blog/sofarpc-5.5.x-nacos-hystrix/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#165 Add a new blog
  content/zh/blog/seata-tcc-theory-design-realization/index.md
Labels: area/blog, cla:yes, kind/docs, size/M

#166 Add a new blog
  content/zh/blog/seata-tcc-applicable-models-scenarios/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#169 Add a new blog
  content/zh/blog/sofa-mesh-x-protocol-tcp-protocol-extension/index.md
Labels: area/blog, cla:yes, kind/docs, size/M

#168 Add a new blog
  content/zh/blog/sofa-mesh-x-protocol-rapid-decode-forward/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#170 feat: algolia index auto update
  scripts/hugo_algolia.py
Labels: cla:yes, kind/feature, size/M

#171 fix: gernerate algolia index objectID for page only
  layouts/_default/list.algolia.json
Labels: bug, cla:yes, kind/site, size/XS

#172 fix: truncate index content
  layouts/_default/list.algolia.json
Labels: bug, cla:yes, kind/site, size/XS

#167 Add a new blog
  content/zh/blog/sofa-mesh-x-protocol-common-address-solution/index.md
Labels: area/blog, cla:yes, kind/docs, size/L

#174 chore: fix lint errors
  content/zh/blog/sofa-mesh-x-protocol-common-address-solution/index.md
Labels: area/blog, kind/docs

#175 doc: update SOFABoot Modular Development
  content/en/projects/sofa-boot/modular-development/index.md
  content/zh/projects/sofa-boot/modular-development/index.md
Labels: area/projects, cla:yes, kind/docs, proj/sofa-boot, size/XS
